In [1]:
student_dict = {
    "student": ["Angela", "James", "Lily"], 
    "score": [56, 76, 98]
}

In [2]:
#Looping through dictionaries:
for (key, value) in student_dict.items():
    #Access key and value
    pass

In [3]:
import pandas
student_data_frame = pandas.DataFrame(student_dict)

In [4]:
student_data_frame

  student  score
0  Angela     56
1   James     76
2    Lily     98

In [ ]:
#Loop through rows of a data frame
for (index, row) in student_data_frame.items():
    print(value)

    #Access index and row
    #Access row.student or row.score
    pass

[56, 76, 98]
[56, 76, 98]

# looping thgrough items wont give values of rows, it will give column names. We have a iterrows() method to loop through rows of a data frame

In [9]:
# loop through rows of dataframe
# for (key, value) in student_data_frame.items():
for (index, row) in student_data_frame.iterrows():
    print(row)

student    Angela
score          56
Name: 0, dtype: object
student    James
score         76
Name: 1, dtype: object
student    Lily
score        98
Name: 2, dtype: object

In [10]:
for (index, row) in student_data_frame.iterrows():
    print(row.student)

Angela
James
Lily

In [11]:
for (index, row) in student_data_frame.iterrows():
    print(row.score)

56
76
98

In [ ]:
# to get Angela's score 
for (index, row) in student_data_frame.iterrows():
    if row.student == "Angela":
        print(row.score)

56

In [ ]:
# Keyword Method with iterrows()
# {new_key:new_value for (index, row) in df.iterrows()}

#TODO 1. Create a dictionary in this format:
{"A": "Alfa", "B": "Bravo"}

#TODO 2. Create a list of the phonetic code words from a word that the user inputs.